/AirSim/app/CMakeFiles
/AirSim/app/AirLib
/AirSim/app/MavLinkCom
/AirSim/app/output
/AirSim/app/rpclib_wrapper
/AirSim/app/cmake_install.cmake
/AirSim/app/CMakeCache.txt
/AirSim/app/Makefile
/AirSim/app/air-app
/data/
/.ros


